body {
    margin: 0;
    padding: 0;
}
.wrapper{
    border: 1px solid;
    height: 570px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.header{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200px;
    height: 200px;
    width: 100%;
}
.menu{
    height: 40px;
    width: 100%;
    background-color: #111111;
}
ul.list_menu{
    padding: 0;
    list-style: none;
    margin: 0 auto;
}
ul.list_menu li{
    float: left;
    margin: 8px;
    padding: 2px;
}
ul.list_menu li a:hover{
    color:burlywood;
}
ul.list_menu li a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
.main{
    height: auto;
    width: 100%;
}
ul.movie_list li img {
    width: 100%;
}
ul.movie_list li {
    margin: 5px;
    width: 19%;
    float: left;
}
ul.movie_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.footer{
    background-color: rgb(30, 37, 49);
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: aliceblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}